extends ./_boilerplate-layout.jade

- var hi = 'layout'

mixin menu
    .menu.menu--portfolio-nav
        .menu__item
            a(data-js-modal-prev, href='/'+prevTile.name) ⟵ Previous
            //-prevTile.title
        .menu__item
            a(data-js-modal-next, href='/'+nextTile.name) Next ⟶

block bpcontent
    -   tiles = public._data.tiles
    -   currentIndex = _.findIndex(tiles, function(tile) {
    -       return (tile.name === current.source)
    -   });
    -   nextTile = tiles[currentIndex+1]
    -   prevTile = tiles[currentIndex-1]
    -   nextTile = nextTile ? nextTile : tiles[0]
    -   prevTile = prevTile ? prevTile : tiles[tiles.length-1]

    .container
        +menu

        .portfolio-piece(data-js-portfolio-piece)
            .clearfix
                .portfolio-piece__title
                    h1
                        block title
                .tags.portfolio-piece__tags
                    block tags
            .portfolio-piece__body.m-top-1
                block portfolio-content

        +menu
