extends ./_piece-layout.jade

block title
    | Bench

block tags
    .tags__tag UI/UX
    .tags__tag Sketch
    .tags__tag Framer

block portfolio-content

    p So strongly and metaphysically did I conceive of my
        | situation then, that while earnestly watching his motions, I
        | seemed distinctly to perceive that my own individuality was
        | now merged in a joint stock company of two; that.

    img(src='portfolio/bench/mocks3.png').m-top-1

    .clearfix.m-top-p3
        .col-1-3
            img(src='portfolio/bench/mobile1.png')
        .col-1-3
            img(src='portfolio/bench/mobile2.png')
        .col-1-3
            img(src='portfolio/bench/mobile3.png')

    img(src='portfolio/bench/mocks1.png').m-top-1

    img(src='portfolio/bench/experiment3.png').m-top-1
    img(src='portfolio/bench/experiment2.png').m-top-1
    img(src='portfolio/bench/experiment1.png').m-top-1
