extends ./_piece-layout.jade

block title
    | Gather

block tags
    .tags__tag Customer Interviews
    .tags__tag UI/UX
    .tags__tag Ionic
    .tags__tag Javascript

block portfolio-content

    p So strongly and metaphysically did I conceive of my
        | situation then, that while earnestly watching his motions, I
        | seemed distinctly to perceive that my own individuality was
        | now merged in a joint stock company of two; that my free
        | will had received a mortal wound; and that another's mistake
        | or misfortune might plunge innocent me into unmerited
        | disaster and death. Therefore, I saw that here was a sort of
        | interregnum in Providence.

    .clearfix.m-top-1
        .col-1-3
            img(src='portfolio/gather/mocks1.png')
        .col-1-3
            img(src='portfolio/gather/mocks2.png')
        .col-1-3
            img(src='portfolio/gather/mocks3.png')
    .clearfix.m-top-p3
        .col-1-3
            img(src='portfolio/gather/mocks4.png')
        .col-1-3
            img(src='portfolio/gather/mocks5.png')
        .col-1-3
            img(src='portfolio/gather/mocks6.png')

    img(src='portfolio/gather/master.png').m-top-1

    img(src='portfolio/gather/ui.png').m-top-1
    img(src='portfolio/gather/flow.png').m-top-1
    img(src='portfolio/gather/sketches.png').m-top-1

    .clearfix.m-top-1
        .col-1-3
            img(src='portfolio/gather/wireframes1.png')
        .col-1-3
            img(src='portfolio/gather/wireframes2.png')
        .col-1-3
            img(src='portfolio/gather/wireframes3.png')

    img.m-top-1(src='portfolio/gather/wireframe.png')
