.home-hero
    text-align center

.home-hero__title
    margin-bottom vr-block(.3)
    margin-top vr-block(1)

.home-hero__subtitle
    margin-top 0
    font-weight 100
    margin-bottom 0
    line-height vr-block(.7)
