.modal
    position fixed
    left 0
    right 0
    bottom 0
    top 0
    display none
    &[data-js-modal-is-visible=true]
        display block
        .modal__screen
            opacity 1
        .modal__wrapper
            transform translate3d(0, 0, 0) scale3d(1, 1, 1)
        .modal__close-button, .modal__prev-button, .modal__next-button
            opacity 1

.modal__screen
    position absolute
    left 0
    right 0
    bottom 0
    top 0
    background-color rgba(black, .8)
    opacity 0
    transition opacity 250ms ease-in-out

.modal__wrapper
    position absolute
    left   vr-block(2)
    right  vr-block(2)
    bottom vr-block(1/2)
    top    vr-block(1/2)
    background-color $bg-color
    border-radius 3px
    transform translate3d(0, 500px, 0) scale3d(.9, .9, 1)
    transition transform 250ms ease-in-out
    margin auto
    padding vr-block(1)
    max-width 860px
    overflow hidden
    overflow-y auto


//.modal__prev-button
//.modal__next-button
.modal__close-button, .modal__prev-button, .modal__next-button
    position absolute
    height vr-block(1)
    line-height vr-block(1)
    cursor pointer
    z-index 9999
    opacity 0
    transition opacity 250ms ease-in-out 250ms
             , color 250ms ease-in-out 0ms
             , transform 250ms ease-in-out 0ms
    a
        transition color 250ms ease-in-out 0ms
        color rgba($text-color, .3)
    &:hover
        transform scale3d(1.3,1.3,1.3)
        a
            color $text-color

.modal__close-button
    right vr-block(.5)
    top vr-block(.5)
    a
        font-size vr-block(1.8)
        display block
        transform rotate(45deg)

.modal__prev-button, .modal__next-button
    top 50%
    margin-top vr-block(-4)
    height vr-block(8)
    line-height vr-block(8)
    a
        color rgba($text-color, .2)
        font-size vr-block(1.1)

.modal__prev-button
    left vr-block(.6)
    transform-origin right
.modal__next-button
    right vr-block(.6)
    transform-origin left
